<nav>
  <a href="/"><img src="chess.jpg" class="nav-logo" alt="logo"> Swarit Choudhari</a>
  <a href="/about">About</a>
  <a href="/projects">Projects</a>
  <a href="/profile">Profile</a>
  <a href="/login">Log In</a>
</nav>
